<html>
<head>
  <h1>Ohai! Here's some information about me!</h1>
</head>
  <body>
    <h2> My operating system is: <%= @platform %>  <%=@platform_version%><br><br>I'm running on: <%= @running_on %> <br><br>My local ip address is: <%= @localip %>
    </h2>
  </body>
</html>